<ion-tabs class="  tabs-icon-top tabs-background-dark tabs-color-stable" data-ink-opacity=".35" >
	<ion-tab class="menu-home" title="{{ 'Home' | translate }}" icon-off="ion-android-home" icon-on="ion-android-home" ui-sref="c_liberia_clearly.home" >
		<ion-nav-view animation="none" name="c_liberia_clearly-home"></ion-nav-view>
	</ion-tab>
	<ion-tab class="menu-videos" title="{{ 'Videos' | translate }}" icon-off="ion-ios-videocam" icon-on="ion-ios-videocam" ui-sref="c_liberia_clearly.videos" >
		<ion-nav-view animation="none" name="c_liberia_clearly-videos"></ion-nav-view>
	</ion-tab>
	<ion-tab class="menu-about_me" title="{{ 'Profile' | translate }}" icon-off="ion-android-person" icon-on="ion-android-person" ui-sref="c_liberia_clearly.about_me" >
		<ion-nav-view animation="none" name="c_liberia_clearly-about_me"></ion-nav-view>
	</ion-tab>
	<ion-tab class="menu-home_bookmark" title="{{ 'Bookmark' | translate }}" icon-off="ion-ios-bookmarks" icon-on="ion-ios-bookmarks" ui-sref="c_liberia_clearly.home_bookmark" >
		<ion-nav-view animation="none" name="c_liberia_clearly-home_bookmark"></ion-nav-view>
	</ion-tab>
	<ion-tab class="menu-contact_us" title="{{ 'Contact Us' | translate }}" icon-off="ion-android-drafts" icon-on="ion-android-drafts" ui-sref="c_liberia_clearly.contact_us" >
		<ion-nav-view animation="none" name="c_liberia_clearly-contact_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_me" title="C Liberia Clearly"  ui-sref="c_liberia_clearly.about_me"  >
		<ion-nav-view animation="none" name="c_liberia_clearly-about_me"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-about_us" title="About Us"  ui-sref="c_liberia_clearly.about_us"  >
		<ion-nav-view animation="none" name="c_liberia_clearly-about_us"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-contact_information" title="Contact Information"  ui-sref="c_liberia_clearly.contact_information"  >
		<ion-nav-view animation="none" name="c_liberia_clearly-contact_information"></ion-nav-view>
	</ion-tab>
	<ion-tab class="hide menu-dashboard" title="Dashboard"  ui-sref="c_liberia_clearly.dashboard"  >
		<ion-nav-view animation="none" name="c_liberia_clearly-dashboard"></ion-nav-view>
	</ion-tab>
</ion-tabs>
