	<ion-view view-title="About Us" hide-nav-bar="false" >
		<ion-nav-title>About Us</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="" />
    <p>C LIBERIA CLEARLY v1.2</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/liberianartsandculture')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/111320454786272727197')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a> 
  <a class="item item-icon-left" ng-click="openURL('https://twitter.com/berenicemulubah')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:cliberiaclearly@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: cliberiaclearly@gmail.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://www.cliberiaclearly.net/')" >C LIBERIA CLEARLY</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
