	<ion-view view-title="Profile" hide-nav-bar="false" >
		<ion-nav-title>Profile</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"  overflow-scroll="true"   id="page-profile" class="profile page-profile">
		<div class="slide-box-hero">
		<ion-slides class="slide-box-hero-content" options="{slidesPerView:1}" slider="data.slider">
			<ion-slide-page>
				<img ng-src="data/images/bm.jpg" class="" />
			</ion-slide-page>
			
		</ion-slides>
	</div>
	<div style="width: 100%;height:150%;">
		<ion-slide-box class="ion-slide-tabs" slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
			<ion-slide ion-slide-tab-label="About Me" >
					<ion-content scroll="false" class="slidingTabContent">
						<div class="list">
							
								<p>Berenice Mulubah is the Founder and CEO of C Liberia  Clearly. She is the author of <em>Purple  Honey Lips</em> and <em>Landing Safely On A  Solid Rock</em>. She has served as a PR consultant for several Liberian  entertainers. She successful launched the &ldquo;Spread Your Lappa Against Rape and  Sexual Assault&rdquo; campaign in 2015, landing her an interview with the BBC.</p>
<p> With  her love for Liberian arts and culture, she created a Facebook group in 2013,  called &ldquo;I Love Liberian Food&rdquo;, showcasing Liberian cuisine. I Love Liberian  Food is one of the most successful and positive Liberian groups on social  media. As a poet, she released a poetry video, showcasing Liberian Kolloque,  dance, fashion, and Romance, called &ldquo;Flomo My Love&rdquo;. </p>
                          <h2>Awards:</h2>
  <ul>
 <li> MIPAD 100 Influential people out of Africa </li>
    <li>African Girls Rock 2017 Making- A-Difference </li>
  <li> Letter of Appreciation from Africa Awards of Washington </li>
  <li>Letter of Appreciation from JFK Hospital, Liberia </li>
                          </ul>
<p>Berenice Mulubah served 15 years in the United States Marine  Corps, walking away with 12 Military Awards and an honorable discharge. She is  a member of Liberian Entertainment Awards Nomination Board.</p>
								<span class="item-note pull-left"></span>
							
						</div>
					</ion-content>
			</ion-slide>

		</ion-slide-box>
	</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
