	<ion-view view-title="Contact Information" hide-nav-bar="false" >
		<ion-nav-title>Contact Information</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-contact_information" class=" page-contact_information">
		
<div class="padding scroll">

    <div class="padding contact_information-box">
        <h2>C LIBERIA CLEARLY</h2>
        <div>
            is a multifaceted, media company committed to spotlighting innovators within the Liberian communities around the global. We believe in natural talents and abilities of Liberians and are doing our part to lift Liberia.
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior contact_information-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://www.facebook.com/liberianartsandculture')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/111320454786272727197')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://twitter.com/berenicemulubah')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://cliberiaclearly@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: cliberiaclearly@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
