	<ion-view view-title="Top News" hide-nav-bar="false" >
		<ion-nav-title>Top News</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-home" class=" page-home">
					<!-- code refresh -->
			<ion-refresher pulling-text="{{ 'Pull to refresh...' | translate }}"  on-refresh="doRefresh()"></ion-refresher>
			<!-- ./code refresh -->
			


			<!-- code listing -->
			<div class="list animate-none">
              
						
				
				<div class="list card postlist" ng-repeat="item in homes | filter:filter_homes as results" ng-init="$last ? fireEvent() : null" >
                  <a class="item" href="#/c_liberia_clearly/home_singles/{{item.id}}">
                    <div class="darkenedimage">
                  <img class="full-image" ng-src="{{item.thumbnail}}" />
                    </div>
					<h2 ng-bind-html="item.title | to_trusted"></h2>
                  </a>
                  
                               <div class="row dateshare">
  <div class="col col-80">
<span class="subdued" >{{item.x_date | date:'EEE, MMM d' }}</span>
	</div>
  <div class="col col-10">
    <a ng-click="addToDbVirtual(item);"><i class="icon ion-ios-bookmarks-outline"></i></a>
    </div>
    <div class="col col-10">
	    <a ng-controller="ShareCtrl" ng-click="shareAnywhere(null, null, null, item.link)"><i class="icon ion-android-share-alt"></i></a>
	    </div>
</div>
				</div>
              
 
              
			</div>
			<!-- ./code listing -->
			<!-- code infinite scroll -->
			<ion-list class="list">
				<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="onInfinite()" distance="5px" ng-if="hasMoreData"></ion-infinite-scroll>
			</ion-list>
			<!-- ./code infinite scroll -->


			<!-- code search result not found -->
			<ion-list class="list">
				<div class="item" ng-if="results.length == 0" >
					<p>{{ 'No results found...!' | translate }}</p>
				</div>
			</ion-list>
			<!-- code search result not found -->




		</ion-content>
		<!-- ./content -->
	</ion-view>
